.navbar {
    position: relative;
  min-height:80px;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -100px !important;  /* 50% of your logo width */
    display: block;
}
html, body{
    background-color:#e8e8e8;
}
.navbar {
  background-color: #c2c2c2;
}
.navbar .navbar-brand {
  color: #17469d;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #f90606;
}
.navbar .navbar-text {
  color: #17469d;
}
.navbar .navbar-text a {
  color: #f90606;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #f90606;
}
.navbar .navbar-nav .nav-link {
  color: #17469d;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #f90606;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #f90606;
  background-color: #cacaca;
}
.navbar .navbar-toggle {
  border-color: #cacaca;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #cacaca;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #17469d;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #17469d;
}
.navbar .navbar-link {
  color: #17469d;
}
.navbar .navbar-link:hover {
  color: #f90606;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #17469d;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f90606;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f90606;
    background-color: #cacaca;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #17469d;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f90606;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f90606;
    background-color: #cacaca;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #17469d;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f90606;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f90606;
    background-color: #cacaca;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #17469d;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f90606;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f90606;
    background-color: #cacaca;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #17469d;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #f90606;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #f90606;
  background-color: #cacaca;
}