<!DOCTYPE html>
{% for challenge in challengeList %}
    <div class="row mt-3">
        <div class="col-1 offset-1 mr-2 mt-3" >
            {{challenge.Likes}}
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            {{challenge.Poster}}
                        </div>
                        <div class="col-5 offset-2">
                            Icon
                        </div>
                    </div>
                    <h5 class="text-left">
                        {{challenge.Title}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endfor %}