<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>

    <!-- awesome Font -->
    <script src="https://kit.fontawesome.com/7e5bd21c64.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Challenges<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profil</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand brand" href="#">
            <img src="/static/img/Logo.svg" width="200" height="60" class="d-inline-block align-top" alt="">
        </a>
    </nav>
    <div id="challengeList">
        {% for challenge in challengeList %}
        <div class="row mt-3">
            <div class="col-1 offset-1 mr-2 mt-3" >
                <div class="row justify-content-center">
                    <img src="/static/img/HeartLike.svg" style="width:2em; height:2em;">
                </div>
                <div class="row justify-content-center">
                    {{challenge.Likes}}
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between ml-1">
                            <h4 class="text-left">
                                {{challenge.Title}}
                            </h4>
                            <h5>
                                #Teilnehmer
                            </h5>
                        </div>
                        <div class="row ml-1">
                            <div class="col-1">
                                <img src="/static/img/DefaultIcon.svg" style="width:1.5em;height:1.5em">
                            </div>
                            <div class="col-5">
                                {{challenge.Poster}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- JavaScript Here-->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/javascript/main.js"></script>
</body>
</html>