<!DOCTYPE html>
<div class="row mt-3 card-title">
<div class="col-11 mx-4">
    <div class="card">
        <div class="row card-body">
            <div class="col-2">
                <div class="row justify-content-center">
                    {% if challenge.Liked == 1 %}
                        <input type="hidden" value="1" id="inputnr{{ challenge.id }}" >
                        <img onclick="like({{ challenge.id }},this)" src="/static/img/HeartLikeFull.svg" style="width:2em; height:2em;">
                    {% elif challenge.Liked == 0 %}
                        <input type="hidden" value="0" id="inputnr{{ challenge.id }}" >
                        <img onclick="like({{ challenge.id }},this)" src="/static/img/HeartLikeEmpty.svg" style="width:2em; height:2em;">
                    {% endif %}
                </div>
                <div class="row justify-content-center">
                        ChallengeLikes
                </div>
                <div class="row justify-content-center">
                    <img src="/static/img/DefaultIcon.svg" style="width:1.5em;height:1.5em">
                </div>
                <div class="row justify-content-center">
                    Challengeusername
                </div>
            </div>
            <div class="col-9 offset-1">
                <div class="row">
                    <h3 class="text-left">Titel</h3>
                </div>
                <div class="row text-left">
                    ChallengeText
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="card-body col-10 offset-1">
    <div class="card mx-4 recipe-list">
        <!-- AB HIER ETWA LOOPEN -->
        <div class="card-body row">
            <div class="col-2">
                <div class="row justify-content-center">
                    <img src="/static/img/HeartLike.svg" style="width:2em; height:2em;">
                </div>
                <div class="row justify-content-center">
                        RecipeLikes
                </div>
                <div class="row justify-content-center">
                    <img src="/static/img/DefaultIcon.svg" style="width:1.5em;height:1.5em">
                </div>
                <div class="row justify-content-center">
                    RecipeUsername
                </div>
            </div>
            <div class="col-4 recipe-picture">
                <img src="/static/img/catCake.jpg" style="width:100%;height:100%;max-width:9em;max-height:9em;">
            </div>
            <div class="col-6 recipe-description">
                RecipeText
            </div>
        </div>
    </div>
</div>